@import '../../Variables';

div.pfcHome {
  div.summary {
    background-color: $colorAccent1Lighter;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    div.tabBar {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: $fzSS;
      div.tab {
        padding: 10px;
        padding-bottom: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        color: $colorTextPrimary;
        &.active {
          transition: 0.3s;
          // border-bottom: 2px solid $colorAccent1;
          color: $colorAccent1;
          pointer-events: none;
        }
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}