// ========== Colors ==========
$colorTextPrimary: #333;
$colorTextSecond: #fff;
$colorAccent1: #005bbb;
$colorAccent1Light: #59a9ff;
$colorAccent1Lighter: #ecf5ff;
$colorAccent2: #ffd500;
$colorAccent2Light: #ffe164;
$colorAccent2Lighter: #fff9c8;
$colorAccent3: #1b8600;
$colorAccent3Light: #68ca50;
$colorAccent3Lighter: #ceffc4;

$color-background: #fff;
$colorGoodBtn: red;
$colorGoodBtnHover: rgb(255, 240, 240);
$colorQuizAnswerBg: rgb(255, 249, 220);
$colorQuizAnswerBgHover: rgb(255, 246, 180);
$colorQuizClickedIncorrectAnswerBg: rgb(240, 240, 255);

// Btn
$colorGoNextQuizBtnHover: rgb(245, 245, 245);
$colorQuizFormSubmitBtn: rgb(240, 240, 255);
$colorQuizFormSubmitBtnHover: rgb(245, 245, 245);

// ========== Font Sizes ==========
$fzSSSmall: 0.8rem;
$fzSSmall: 1rem;
$fzSmall: 1.2rem;
$fzMedium: 1.5rem;
$fzMMedium: 1.8rem;
$fzMMMedium: 2rem;
$fzLarge: 2.5rem;
$fzLLarge: 2.8rem;
$fzLLLarge: 3rem;

// ========== Font ==========
$fontLogo: 'Caveat', cursive;
$fontText: 'Open Sans', sans-serif;
$fontHeader: 'Cormorant Garmand', serif;
$fontAccent: 'Ubuntu', sans-serif;

// ========== RspDsgn ==========
$sm: 425px;
$md: 768px;
$lg: 1024px;
$lg-pc: 1400px;
$more-than-mobile: 426px;
$more-than-tablet: 769px;

@mixin mobile{
  @media screen and (max-width: $sm){
    @content;
  }
}
@mixin tablet{
  @media screen and (max-width: $md){
    @content;
  }
}
@mixin pc{
  @media screen and (max-width: $lg){
    @content;
  }
}
@mixin lg-pc{
  @media screen and (max-width: $lg-pc){
    @content;
  }
}
@mixin more-than-mobile{
  @media screen and (min-width: $more-than-mobile){
    @content;
  }
}
@mixin more-than-tablet{
  @media screen and (min-width: $more-than-tablet){
    @content;
  }
}
