@import './Variables.scss';

#appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.5rem;
  background: $colorAccent1;
  #logo {
    a {
      color: $colorAccent2;
      font-size: $fzLarge;
      font-family: $fontLogo;
    }
  }
  #appNav{
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      color: $colorTextSecond;
      font-size: $fzSSmall;
      display: inline-block;
      // font-family: $fontHeader;
      padding: 5px 10px;
      transition: .3s;
      margin-right: 10px;
      &:hover {
        opacity: .7;
      }
    }
    span.imgLink {
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-left: 10px;
      a {
        margin: 0;
        padding: 0;
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
    #signInBtn {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      font-size: $fzSSmall;
      font-weight: bold;
      transition: 0.3s;
      background: $colorAccent2Lighter;
      &:hover {
        background: $colorAccent1Lighter;
      }
    }
  }
}
