@import 'Variables';

#profilePage {
  max-width: 400px;
  margin: 50px auto;
  .userCard {
    border: 1px solid $colorAccent1;
    background: $colorAccent1Lighter;
    padding: 50px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    div.userInfo {
      margin: 0 auto;
      text-align: center;
      img {
        border-radius: 50%;
        width: 150px;
        text-align: center;
        margin-bottom: 20px;
      }
      .username {
        color: $colorAccent1;
        font-size: $fzSmall;
        font-family: $fontHeader;
      }
      .email {
        font-size: $fzSSmall;
        font-family: $fontHeader;
      }
    }
    #logOutBtn {
      margin: 20px auto 0;
      padding: 10px 18px;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: $fzSSmall;
      transition: 0.3s;
      background: $colorAccent1Lighter;
      &:hover {
        color: $colorAccent1;
      }
    }
  }
  .contributionContainer {
    text-align: center;
    .ctrTxt {
      font-weight: bold;
      font-size: $fzMMedium;
      padding: 15px 30px;
      border-bottom: 1px solid rgb(230, 230, 230);
      display: inline-block;
    }
    ul {
      list-style: none;
      li {
        &.make {
          font-size: $fzSmall;
          padding: 15px 0;
        }

      }
    }
  }

}