@import 'Variables';
@import 'mixin';

#profilePage {
  max-width: 400px;
  margin: 50px auto;
  .userCard {
    border: 1px solid $colorAccent1;
    background: $colorAccent1Lighter;
    padding: 50px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    div.userInfo {
      margin: 0 auto;
      text-align: center;
      img {
        border-radius: 50%;
        width: 150px;
        text-align: center;
        margin-bottom: 20px;
      }
      .username {
        color: $colorAccent1;
        font-size: $fzSmall;
        font-family: $fontHeader;
      }
      .email {
        font-size: $fzSSmall;
        font-family: $fontHeader;
        margin-bottom: 5px;
      }
      .numberOfQuizzes {
        font-size: $fzSSSmall;
      }
    }
    #logOutBtn {
      margin: 20px auto 0;
      padding: 10px 18px;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: $fzSSmall;
      transition: 0.3s;
      background: $colorAccent1Lighter;
      &:hover {
        color: $colorAccent1;
      }
    }
  }
  .contributionContainer {
    .LMQContainer {
      h3 {
        @include ProfileH3Header();
      }
    }
    .MLQContainer {
      h3 {
        @include ProfileH3Header();
      }
    }
  }

}