@import 'Variables';

#profilePage {
  max-width: 300px;
  margin: 50px auto;
  div#userInfo {
    width: 300px;
    border: 1px solid $colorAccent1;
    background: $colorAccent1Lighter;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    img {
      border-radius: 50%;
      width: 150px;
      text-align: center;
      margin-bottom: 20px;
    }
    .username {
      color: $colorAccent1;
      font-size: $fzMedium;
      font-family: $fontHeader;
    }
    .email {
      font-size: $fzSSmall;
      font-family: $fontHeader;
    }
  }
  .contributionContainer {
    text-align: center;
    .ctrTxt {
      font-weight: bold;
      font-size: $fzMMedium;
      padding: 10px 30px;
      border-bottom: 1px solid rgb(230, 230, 230);
      display: inline-block;
    }
    .make {
      font-size: $fzSmall;
      padding: 10px 0;
    }
  }
  #logOutBtn {
    margin: 0 auto;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    background: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: $fzSSmall;
    transition: 0.3s;
    &:hover {
      background: $colorAccent1Lighter;
    }
  }

}