@import './Variables.scss';

#quizHome {
  nav {
    margin: 20px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fzMedium;
    .left {
      a {
        margin-right: 10px;
        &:hover {
          opacity: .5;
        }
      }
    }
    .right {
      a {
        background: $colorAccent1Light;
        color: $colorTextSecond;
        font-weight: bold;
        padding: 5px 20px;
        border-radius: 5px;
        transition: .3s;
        &:hover {
          background: $colorAccent2Light;
          color: $colorTextPrimary;
        }
      }
    }
  }
}

.quizContainer {
  display: flex;
  flex-direction: column;
  .quiz {
    margin-bottom: 50px;
    .quizHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      span.quizNumber,
      span.createdBy {
        font-size: $fzSSmall;
      }
    }
    .quizQuestionContainer {
      p.quizQuestionText {
        font-size: $fzMMedium;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
      }
    }
    ul.quizAnswersContainer {
      padding: 0;
      &.answerDefined {
        li {
          pointer-events: none;
          opacity: .3;
        }
        li.incorrectAnswerClicked {
          opacity: 1;
        }
      }
      li {
        &.selected {
          &.correctAnswerClicked {
            outline: 3px solid $colorAccent1;
            background-color: $colorAccent1Lighter;
            opacity: 1;
            span {
              font-weight: bold;
            }
          }
          &.incorrectAnswerClicked {
            outline: 3px solid $colorAccent2;
            background-color: $colorAccent2Lighter;
            opacity: 1;
            div {
              transform: rotate(225deg) translate(-15px, 10px);
              font-size: $fzMMMedium;
              height: 20px;
            }
          }

        }
        list-style: none;
        margin: 20px 0;
        padding: 20px;
        background: $colorAccent2Lighter;
        font-size: $fzMedium;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        &:hover {
          background: $colorAccent2Light;
        }
        &.correctAnswerClicked {
          pointer-events: none;
          background: $colorAccent1Lighter;
          div.correctIncorrectIcons {
            .correctIcon {
              margin-left: 20px;
              font-size: $fzMMedium;
              display: block;
              color: $colorAccent1;
            }
          }
        }
        &.incorrectAnswerClicked {
          pointer-events: none;
          div.correctIncorrectIcons {
            display: flex;
            align-items: center;
            .incorrectIcon {
              margin-left: 20px;
              font-size: $fzLarge;
              display: block;
              opacity: 1;
              color: red;
            }
          }
        }
        // default no icons
        div.correctIncorrectIcons {
          .correctIcon {
            display: none;
          }
          .incorrectIcon {
            display: none;
          }
        }
      }
    }
    .quizFooter {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 30px;
      .likesCounterContainer {
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        color: red;
        position: relative;
        &.checked {
          background: $colorGoodBtnHover;
        }
        span.heartIcon {
          height: 15px;
          margin-right: 15px;
        }
      }
      button.goNextPrevQuizBtn {
        padding: 10px 18px;
        border-radius: 5px;
        border: none;
        background: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: $fzSSmall;
        transition: 0.3s;
        &:hover {
          background: $colorAccent1Lighter;
        }
        &.disable {
          pointer-events: none;
          opacity: 0.5;
        }
        .bsArrowRight {
          height: 20px;
          margin-left: 10px;
        }
        .bsArrowLeft {
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

// .formikNewQuiz {
// styles for the page to create a new quiz are embedded in the same component
// }

.allQuizzes {
  font-size: $fzSmall;
  .eachQuizContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $colorAccent1Lighter;
    &:first-child {
      margin-top: 0;
    }
    .quizQuestionContainer {
      display: flex;
      align-items: center;
      .quizIndex {
        margin-right: 15px;
      }
      .quizQuestion {
        margin: 0 15px;
      }
    }
    div.icons {
      display: flex;
      gap: 10px;
      i.riEditBoxLine {
        color: $colorAccent1;
        font-size: $fzSmall;
        transition: .3s;
        cursor: pointer;
        &:hover { 
          opacity: .5;
        }
      }
      i.riDeleteBinLine {
        color: $colorGoodBtn;
        font-size: $fzSmall;
        transform: none;
        transition: .3s;
        cursor: pointer;
        &:hover { 
          opacity: .5;
        }
      }
    }
  }
}

.quizResultWindow {
  font-size: $fzSmall;
  .quizResultText {
    font-weight: bold;
    text-align: center;
    font-size: $fzMMedium;
    margin-bottom: 30px;
    h3 {
      font-weight: bold;
    }
    p {
      font-size: $fzSmall;

    }
  }
  .eachQuizContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $colorAccent1Lighter;
    &:first-child {
      margin-top: 0;
    }
    .quizQuestionContainer {
      display: flex;
      align-items: center;
      .quizIndex {
        margin-right: 15px;
      }
      .quizQuestion {
        margin: 0 15px;
      }
    }
    div.icons {
      display: flex;
      .biCircle {
        color: $colorAccent1;
        height: 20px;
      }
      .biPlus {
        transform: rotate(225deg) translate(-2px, -2px);
        font-size: $fzMedium;
        height: 20px;
        color: red;
      }
    }
  }
}