.fixedNewQuizBtn {
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 1.5rem;
  width: 80px;
}

.fixedNewQuizBtn a {
  border: 1px solid #005bbb;
  background: #ecf5ff;
  color: #005bbb;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 80px;
}

.fixedNewQuizBtn a:hover {
  opacity: 0.7;
}

.loading {
  padding: 30px;
}

#quizHome {
  font-size: 1.5rem;
}

#quizHome .testStartContainer {
  margin-bottom: 70px;
}

#quizHome .testStartContainer .textContainer {
  margin-bottom: 20px;
}

#quizHome .testStartContainer .textContainer h3 {
  font-family: "Cormorant Garmand", serif;
  font-size: 1.8rem;
}

#quizHome .testStartContainer .textContainer span {
  font-size: 0.8rem;
}

#quizHome .testStartContainer .btnsContainer button.all {
  display: block;
}

#quizHome .testStartContainer .btnsContainer button.all.selected {
  background: #fff8d5;
  border: 1px solid #ffd500;
}

#quizHome .testStartContainer .btnsContainer button.all.othersSelected {
  pointer-events: none;
  opacity: 0.3;
}

#quizHome .testStartContainer .btnsContainer button {
  padding: 10px 20px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#quizHome .testStartContainer .btnsContainer button.selected {
  background: #fff8d5;
  border: 1px solid #ffd500;
}

#quizHome .testStartContainer .btnsContainer button.allSelected {
  pointer-events: none;
  opacity: 0.3;
}

#quizHome .testStartContainer a.startBtn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  text-align: center;
}

#quizHome .testStartContainer a.startBtn:hover {
  background: #ecf5ff;
}

#quizHome .testStartContainer a.startBtn.disable {
  pointer-events: none;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#quizHome .quizRecentlyCreatedContainer {
  margin-bottom: 70px;
}

#quizHome .quizRecentlyCreatedContainer h3 {
  font-family: "Cormorant Garmand", serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#quizHome .userRankingContainer {
  margin-bottom: 70px;
}

#quizHome .userRankingContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quizHome .userRankingContainer .top h3 {
  font-family: "Cormorant Garmand", serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#quizHome .userRankingContainer .top select {
  padding: 5px 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: right;
}

#quizHome .userRankingContainer .usersContainer div.userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

#quizHome .userRankingContainer .usersContainer div.userContainer:hover {
  background: whitesmoke;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 10px;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo div.userRankIcon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo div.userRankIcon.first {
  color: gold;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo div.userRankIcon.second {
  color: silver;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo div.userRankIcon.third {
  color: #CD7F32;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo .imgAndUsername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo .imgAndUsername img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.userInfo .imgAndUsername h6.username {
  font-size: 1.2rem;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.contributionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.contributionContainer span.number {
  font-size: 1.2rem;
}

#quizHome .userRankingContainer .usersContainer div.userContainer div.contributionContainer span.text {
  font-size: 0.6rem;
}

.quizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizContainer .quiz {
  margin-bottom: 50px;
}

.quizContainer .quiz .quizHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.quizContainer .quiz .quizHeader span.quizNumber,
.quizContainer .quiz .quizHeader span.createdBy {
  font-size: 0.8rem;
}

.quizContainer .quiz .quizQuestionContainer p.quizQuestionText {
  font-size: 1.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quizContainer .quiz ul.quizAnswersContainer {
  padding: 0;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li {
  pointer-events: none;
  opacity: 0.3;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li.incorrectAnswerClicked {
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li {
  list-style: none;
  margin: 20px 0;
  padding: 20px;
  background: #fff8d5;
  font-size: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.quizContainer .quiz ul.quizAnswersContainer li:hover {
  background: #fff8d5;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked {
  pointer-events: none;
  border-left: 5px solid #26be00;
  background-color: #e0ffd9;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked div.correctIncorrectIcons span.correctIcon {
  margin-left: 20px;
  font-size: 1.8rem;
  display: block;
  color: #26be00;
  height: 30px;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked {
  pointer-events: none;
  border-left: 5px solid #ff4500;
  background-color: #ffece6;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked div.correctIncorrectIcons span.incorrectIcon {
  -webkit-transform: rotate(225deg) translate(-5px, -5px);
          transform: rotate(225deg) translate(-5px, -5px);
  margin-left: 20px;
  font-size: 2.5rem;
  display: block;
  color: #ff4500;
  height: 30px;
}

.quizContainer .quiz ul.quizAnswersContainer li span.answer {
  height: 30px;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .correctIcon {
  display: none;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .incorrectIcon {
  display: none;
}

.quizContainer .quiz .quizFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

.quizContainer .quiz .quizFooter .likesCounterContainer {
  padding: 10px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: red;
  position: relative;
}

.quizContainer .quiz .quizFooter .likesCounterContainer.checked {
  background: #fff0f0;
}

.quizContainer .quiz .quizFooter .likesCounterContainer span.heartIcon {
  height: 15px;
  margin-right: 15px;
}

.quizContainer .quiz .quizFooter button.testStopBtn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizContainer .quiz .quizFooter button.testStopBtn:hover {
  background: #ffe668;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn:hover {
  background: #ecf5ff;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn.disable {
  pointer-events: none;
  opacity: 0.5;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowRight {
  height: 20px;
  margin-left: 10px;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowLeft {
  height: 20px;
  margin-right: 10px;
}

.allQuizzes,
.quizzes {
  font-size: 1.2rem;
}

.allQuizzes .eachQuizContainer,
.quizzes .eachQuizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ecf5ff;
  font-size: 1rem;
  padding: 10px;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer,
.quizzes .eachQuizContainer .quizQuestionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer .quizIndex,
.quizzes .eachQuizContainer .quizQuestionContainer .quizIndex {
  margin: 0 10px;
  min-width: 30px;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer .quizQuestion,
.quizzes .eachQuizContainer .quizQuestionContainer .quizQuestion {
  margin: 0 10px 0 0;
  overflow: scroll;
}

.allQuizzes .eachQuizContainer a,
.quizzes .eachQuizContainer a {
  height: 25px;
}

.allQuizzes .eachQuizContainer a img,
.quizzes .eachQuizContainer a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.allQuizzes .eachQuizContainer div.icons,
.quizzes .eachQuizContainer div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allQuizzes .eachQuizContainer div.icons a,
.quizzes .eachQuizContainer div.icons a {
  height: 20px;
  margin-right: 10px;
}

.allQuizzes .eachQuizContainer div.icons a i.riEditBoxLine,
.quizzes .eachQuizContainer div.icons a i.riEditBoxLine {
  cursor: pointer;
  color: #005bbb;
}

.allQuizzes .eachQuizContainer div.icons i.riDeleteBinLine,
.quizzes .eachQuizContainer div.icons i.riDeleteBinLine {
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: red;
}

.allQuizzes .searchContainer,
.quizzes .searchContainer {
  margin-bottom: 20px;
  font-size: 1rem;
}

.allQuizzes .searchContainer .inputs,
.quizzes .searchContainer .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.allQuizzes .searchContainer .inputs select,
.quizzes .searchContainer .inputs select {
  width: 160px;
  display: block;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  padding: 10px 15px;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.allQuizzes .searchContainer .inputs select:focus,
.quizzes .searchContainer .inputs select:focus {
  outline: none;
}

.allQuizzes .searchContainer .inputs select.notDefzultValue,
.quizzes .searchContainer .inputs select.notDefzultValue {
  background: #fff8d5;
}

.allQuizzes .searchContainer .inputs .searchByTagContainer,
.quizzes .searchContainer .inputs .searchByTagContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allQuizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput,
.quizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput {
  width: 160px;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  padding: 10px 15px;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.allQuizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput:focus,
.quizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput:focus {
  outline: none;
}

.allQuizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput.notDefzultValue,
.quizzes .searchContainer .inputs .searchByTagContainer input.searchTagInput.notDefzultValue {
  background: #fff8d5;
}

.allQuizzes .searchContainer .submitBtn,
.quizzes .searchContainer .submitBtn {
  padding: 10px 18px;
  margin-top: 20px;
  border-radius: 5px;
  border: #ecf5ff;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: none;
  font-size: 1.5rem;
  font-family: Cormorant Garamond, serif;
}

.allQuizzes .searchContainer .submitBtn:hover,
.quizzes .searchContainer .submitBtn:hover {
  background: #ecf5ff;
}

.allQuizzes .searchContainer .submitBtn.disabled,
.quizzes .searchContainer .submitBtn.disabled {
  pointer-events: none;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizResultWindow {
  font-size: 1.2rem;
}

.quizResultWindow .quizResultText {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.quizResultWindow .quizResultText h3 {
  font-weight: bold;
}

.quizResultWindow .quizResultText p {
  font-size: 1.2rem;
}

.quizResultWindow .eachQuizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ecf5ff;
}

.quizResultWindow .eachQuizContainer:first-child {
  margin-top: 0;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer .quizIndex {
  margin-right: 15px;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer .quizQuestion {
  margin: 0 15px;
}

.quizResultWindow .eachQuizContainer div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quizResultWindow .eachQuizContainer div.icons .biCircle {
  color: #005bbb;
  height: 20px;
}

.quizResultWindow .eachQuizContainer div.icons .biPlus {
  -webkit-transform: rotate(225deg) translate(-2px, -2px);
          transform: rotate(225deg) translate(-2px, -2px);
  font-size: 1.5rem;
  height: 20px;
  color: red;
}
/*# sourceMappingURL=quiz.css.map */