#quizHeader nav {
  margin: 20px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

#quizHeader nav .left a {
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#quizHeader nav .left a:hover {
  opacity: .7;
}

#quizHeader nav .right a {
  border: 1px solid #005bbb;
  background: #ecf5ff;
  color: #005bbb;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#quizHeader nav .right a:hover {
  opacity: .7;
}

#quizHome {
  font-size: 1rem;
}

#quizHome .quizRecentlyCreated .eachQuizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ecf5ff;
}

#quizHome .quizRecentlyCreated .eachQuizContainer:first-child {
  margin-top: 0;
}

#quizHome .quizRecentlyCreated .eachQuizContainer .quizQuestionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quizHome .quizRecentlyCreated .eachQuizContainer .quizQuestionContainer .quizIndex {
  margin-right: 15px;
}

#quizHome .quizRecentlyCreated .eachQuizContainer .quizQuestionContainer .quizQuestion {
  margin: 0 15px;
}

#quizHome .quizRecentlyCreated .eachQuizContainer div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#quizHome .quizRecentlyCreated .eachQuizContainer div.icons i.riEditBoxLine {
  color: #005bbb;
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#quizHome .quizRecentlyCreated .eachQuizContainer div.icons i.riEditBoxLine:hover {
  opacity: .7;
}

#quizHome .quizRecentlyCreated .eachQuizContainer div.icons i.riDeleteBinLine {
  color: red;
  font-size: 1.2rem;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#quizHome .quizRecentlyCreated .eachQuizContainer div.icons i.riDeleteBinLine:hover {
  opacity: .7;
}

.quizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizContainer .quiz {
  margin-bottom: 50px;
}

.quizContainer .quiz .quizHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.quizContainer .quiz .quizHeader span.quizNumber,
.quizContainer .quiz .quizHeader span.createdBy {
  font-size: 1rem;
}

.quizContainer .quiz .quizQuestionContainer p.quizQuestionText {
  font-size: 1.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quizContainer .quiz ul.quizAnswersContainer {
  padding: 0;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li {
  pointer-events: none;
  opacity: .3;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li.incorrectAnswerClicked {
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li {
  list-style: none;
  margin: 20px 0;
  padding: 20px;
  background: #fff9c8;
  font-size: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked {
  outline: 3px solid #005bbb;
  background-color: #ecf5ff;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked span {
  font-weight: bold;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked {
  outline: 3px solid #ffd500;
  background-color: #fff9c8;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked div {
  -webkit-transform: rotate(225deg) translate(-15px, 10px);
          transform: rotate(225deg) translate(-15px, 10px);
  font-size: 2rem;
  height: 20px;
}

.quizContainer .quiz ul.quizAnswersContainer li:hover {
  background: #ffe164;
}

.quizContainer .quiz ul.quizAnswersContainer li.correctAnswerClicked {
  pointer-events: none;
  background: #ecf5ff;
}

.quizContainer .quiz ul.quizAnswersContainer li.correctAnswerClicked div.correctIncorrectIcons .correctIcon {
  margin-left: 20px;
  font-size: 1.8rem;
  display: block;
  color: #005bbb;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked {
  pointer-events: none;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked div.correctIncorrectIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked div.correctIncorrectIcons .incorrectIcon {
  margin-left: 20px;
  font-size: 2.5rem;
  display: block;
  opacity: 1;
  color: red;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .correctIcon {
  display: none;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .incorrectIcon {
  display: none;
}

.quizContainer .quiz .quizFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

.quizContainer .quiz .quizFooter .likesCounterContainer {
  padding: 10px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: red;
  position: relative;
}

.quizContainer .quiz .quizFooter .likesCounterContainer.checked {
  background: #fff0f0;
}

.quizContainer .quiz .quizFooter .likesCounterContainer span.heartIcon {
  height: 15px;
  margin-right: 15px;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn:hover {
  background: #ecf5ff;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn.disable {
  pointer-events: none;
  opacity: 0.5;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowRight {
  height: 20px;
  margin-left: 10px;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowLeft {
  height: 20px;
  margin-right: 10px;
}

.allQuizzes {
  font-size: 1.2rem;
}

.allQuizzes .eachQuizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ecf5ff;
}

.allQuizzes .eachQuizContainer:first-child {
  margin-top: 0;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer .quizIndex {
  margin-right: 15px;
}

.allQuizzes .eachQuizContainer .quizQuestionContainer .quizQuestion {
  margin: 0 15px;
}

.allQuizzes .eachQuizContainer div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.allQuizzes .eachQuizContainer div.icons i.riEditBoxLine {
  color: #005bbb;
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.allQuizzes .eachQuizContainer div.icons i.riEditBoxLine:hover {
  opacity: .7;
}

.allQuizzes .eachQuizContainer div.icons i.riDeleteBinLine {
  color: red;
  font-size: 1.2rem;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.allQuizzes .eachQuizContainer div.icons i.riDeleteBinLine:hover {
  opacity: .7;
}

.quizResultWindow {
  font-size: 1.2rem;
}

.quizResultWindow .quizResultText {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.quizResultWindow .quizResultText h3 {
  font-weight: bold;
}

.quizResultWindow .quizResultText p {
  font-size: 1.2rem;
}

.quizResultWindow .eachQuizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ecf5ff;
}

.quizResultWindow .eachQuizContainer:first-child {
  margin-top: 0;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer .quizIndex {
  margin-right: 15px;
}

.quizResultWindow .eachQuizContainer .quizQuestionContainer .quizQuestion {
  margin: 0 15px;
}

.quizResultWindow .eachQuizContainer div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quizResultWindow .eachQuizContainer div.icons .biCircle {
  color: #005bbb;
  height: 20px;
}

.quizResultWindow .eachQuizContainer div.icons .biPlus {
  -webkit-transform: rotate(225deg) translate(-2px, -2px);
          transform: rotate(225deg) translate(-2px, -2px);
  font-size: 1.5rem;
  height: 20px;
  color: red;
}
/*# sourceMappingURL=quiz.css.map */