@import 'Variables';

.fixedNewQuizBtn {
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: $fzM;
  width: 80px;
  a {
    border: 1px solid $colorAccent1;
    background: $colorAccent1Lighter;
    color: $colorAccent1;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s;
    width: 80px;
    &:hover {
      opacity: 0.7;
    }
  }
}

@mixin h3Header() {
  font-family: $fontHeader;
  font-size: $fzMM;
  margin-bottom: 20px;
}

.loading {
  padding: 30px;
}

#quizHome {
  font-size: $fzM;
  .testStartContainer {
    margin-bottom: 70px;
    .textContainer {
      margin-bottom: 20px;
      h3 {
        font-family: $fontHeader;
        font-size: $fzMM;
      }
      span {
        font-size: $fzSSS;
      }
    }
    .btnsContainer {
      button.all {
        display: block;
        &.selected {
          background: $colorAccent2Lighter;
          border: 1px solid $colorAccent2;
        }
        &.othersSelected {
          pointer-events: none;
          opacity: 0.3;
        }
      }
      button {
        padding: 10px 20px;
        margin: 0 10px 10px 0;
        border-radius: 5px;
        border: 1px solid white;
        background: white;
        cursor: pointer;
        font-size: $fzSS;
        transition: 0.3s;
        &.selected {
          background: $colorAccent2Lighter;
          border: 1px solid $colorAccent2;
        }
        &.allSelected {
          pointer-events: none;
          opacity: 0.3;
        }
      }
    }
    a.startBtn {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background: white;
      cursor: pointer;
      font-size: $fzS;
      transition: 0.3s;
      display: block;
      text-align: center;
      &:hover {
        background: $colorAccent1Lighter;
      }
      &.disable {
        pointer-events: none;
        opacity: 0.3;
        transition: 0.3s;
      }
    }
  }
  .quizRecentlyCreatedContainer {
    margin-bottom: 70px;
    h3 {
      @include h3Header();
    }
    // div {
    //   .eachQuizContainer {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 15px 0;
    //     border-bottom: 1px solid $colorAccent1Lighter;
    //     &:first-child {
    //       padding-top: 0;
    //     }
    //     .quizQuestionContainer {
    //       display: flex;
    //       align-items: center;
    //       .quizIndex {
    //         margin-right: 15px;
    //       }
    //       .quizQuestion {
    //         margin: 0 15px;
    //       }
    //     }
    //     a {
    //       height: 20px;
    //       img {
    //         width: 20px;
    //         height: 20px;
    //         border-radius: 50%;
    //       }
    //     }
    //   }
    // }
  }
  .userRankingContainer {
    margin-bottom: 70px;
    .top {
      display: flex;
      align-items: start;
      justify-content: space-between;
      h3 {
        @include h3Header();
      }
      select {
        padding: 5px 10px;
        font-size: $fzSS;
        outline: none;
        border: $colorAccent1 1px solid;
        cursor: pointer;
        background: $bg;
        text-align: center;
      }
    }
    .usersContainer {
      div.userContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px 0;
        cursor: pointer;
        font-size: $fzSS;
        &:hover {
          background: $hoverGrey;
        }
        div.userInfo {
          display: flex;
          align-items: center;
          margin: 0 20px;
          div.userRankIcon {
            margin-right: 20px;
            width: 20px;
            height: 20px;
            &.first {
              color: gold;
            }
            &.second {
              color: silver;
            }
            &.third {
              color: #CD7F32;
            }
          }
          .imgAndUsername {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            h6.username {
              font-size: $fzS;
            }
          }
        }
        div.contributionContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          span.number {
            font-size: $fzS;
          }
          span.text {
            font-size: $fzSSSS;
          }
        }
      }
    }
  }
}

.quizContainer {
  display: flex;
  flex-direction: column;
  .quiz {
    margin-bottom: 50px;
    .quizHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      span.quizNumber,
      span.createdBy {
        font-size: $fzSSS;
      }
    }
    .quizQuestionContainer {
      p.quizQuestionText {
        font-size: $fzMM;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
      }
    }
    ul.quizAnswersContainer {
      padding: 0;
      &.answerDefined {
        li {
          pointer-events: none;
          opacity: 0.3;
        }
        li.incorrectAnswerClicked {
          opacity: 1;
        }
      }
      li {
        list-style: none;
        margin: 20px 0;
        padding: 20px;
        background: $colorAccent2Lighter;
        font-size: $fzM;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        &:hover {
          background: $colorAccent2Lighter;
        }

        &.selected {
          &.correctAnswerClicked {
            pointer-events: none;
            border-left: 5px solid $colorGreen;
            background-color: $colorGreenLighter;
            opacity: 1;
            div.correctIncorrectIcons {
              span.correctIcon {
                margin-left: 20px;
                font-size: $fzMM;
                display: block;
                color: $colorGreen;
                height: 30px;
              }
            }
          }
          &.incorrectAnswerClicked {
            pointer-events: none;
            border-left: 5px solid $colorOrangered;
            background-color: $colorOrangeredLighter;
            opacity: 1;
            div.correctIncorrectIcons {
              span.incorrectIcon {
                transform: rotate(225deg) translate(-5px, -5px);
                margin-left: 20px;
                font-size: $fzL;
                display: block;
                color: $colorOrangered;
                height: 30px;
              }
            }
          }
        }
        span.answer {
          height: 30px;
        }
        // defzult no icons
        div.correctIncorrectIcons {
          .correctIcon {
            display: none;
          }
          .incorrectIcon {
            display: none;
          }
        }
      }
    }
    .quizFooter {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 30px;
      .likesCounterContainer {
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        color: red;
        position: relative;
        &.checked {
          background: $colorGoodBtnHover;
        }
        span.heartIcon {
          height: 15px;
          margin-right: 15px;
        }
      }
      button.testStopBtn {
        padding: 10px 18px;
        border-radius: 5px;
        border: none;
        background: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: $fzSS;
        transition: 0.3s;
        &:hover {
          background: $colorAccent2Light;
        }
      }
      button.goNextPrevQuizBtn {
        padding: 10px 18px;
        border-radius: 5px;
        border: none;
        background: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: $fzSS;
        transition: 0.3s;
        &:hover {
          background: $colorAccent1Lighter;
        }
        &.disable {
          pointer-events: none;
          opacity: 0.5;
        }
        .bsArrowRight {
          height: 20px;
          margin-left: 10px;
        }
        .bsArrowLeft {
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

.allQuizzes,
.quizzes {
  font-size: $fzS;
  .eachQuizContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $colorAccent1Lighter;
    font-size: $fzSS;
    &:first-child {
      padding-top: 0;
    }
    .quizQuestionContainer {
      display: flex;
      align-items: center;
      .quizIndex {
        margin-right: 5px;
        min-width: 30px;
      }
      .quizQuestion {
        margin: 0 15px 0 5px;
        overflow: scroll;
      }
    }
    a {
      height: 25px;
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
    div.icons {
      display: flex;
      a {
        height: 20px;
        margin-right: 10px;
        i.riEditBoxLine {
          cursor: pointer;
          color: $colorAccent1;
        }
      }
      i.riDeleteBinLine {
        cursor: pointer;
        height: 20px;
        width: 20px;
        color: red;
      }
    }
  }
  .searchContainer {
    margin-bottom: 20px;
    font-size: $fzSS;
    .inputs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      select {
        width: 160px;
        display: block;
        border: none;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 10px 15px;
        margin-top: 5px;
        transition: 0.3s;
        &:focus {
          outline: none;
        }
        &.notDefzultValue {
          background: $colorAccent2Lighter;
        }
      }
      .searchByTagContainer {
        position: relative;
        display: flex;
        align-items: center;
        input.searchTagInput {
          width: 160px;
          border: none;
          border-bottom: 1px solid rgb(200, 200, 200);
          padding: 10px 15px;
          margin-top: 5px;
          transition: 0.3s;
          &:focus {
            outline: none;
          }
          &.notDefzultValue {
            background: $colorAccent2Lighter;
          }
        }
      }
    }
    .submitBtn {
      padding: 10px 18px;
      margin-top: 20px;
      border-radius: 5px;
      border: #ecf5ff;
      width: 100%;
      cursor: pointer;
      transition: 0.3s;
      background: none;
      font-size: 1.5rem;
      font-family: Cormorant Garamond, serif;
      &:hover {
        background: $colorAccent1Lighter;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.3;
        transition: 0.3s;
      }
    }
  }
}

.quizResultWindow {
  font-size: $fzS;
  .quizResultText {
    font-weight: bold;
    text-align: center;
    font-size: $fzMM;
    margin-bottom: 30px;
    h3 {
      font-weight: bold;
    }
    p {
      font-size: $fzS;
    }
  }
  .eachQuizContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $colorAccent1Lighter;
    &:first-child {
      margin-top: 0;
    }
    .quizQuestionContainer {
      display: flex;
      align-items: center;
      .quizIndex {
        margin-right: 15px;
      }
      .quizQuestion {
        margin: 0 15px;
      }
    }
    div.icons {
      display: flex;
      .biCircle {
        color: $colorAccent1;
        height: 20px;
      }
      .biPlus {
        transform: rotate(225deg) translate(-2px, -2px);
        font-size: $fzM;
        height: 20px;
        color: red;
      }
    }
  }
}
