.fixedNewQuizBtn {
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 1.5rem;
  width: 80px;
}

.fixedNewQuizBtn a {
  border: 1px solid #005bbb;
  background: #ecf5ff;
  color: #005bbb;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 80px;
}

.fixedNewQuizBtn a:hover {
  opacity: 0.7;
}

#quizHome {
  font-size: 1rem;
}

#quizHome .testStartContainer {
  margin-bottom: 70px;
}

#quizHome .testStartContainer .textContainer h3 {
  font-size: 1.8rem;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Cormorant Garmand", serif;
}

#quizHome .testStartContainer .textContainer span {
  font-size: 0.8rem;
}

#quizHome .testStartContainer .btnsContainer button.all {
  display: block;
}

#quizHome .testStartContainer .btnsContainer button.all.selected {
  background: #fff9c8;
  border: 1px solid #ffd500;
}

#quizHome .testStartContainer .btnsContainer button {
  padding: 10px 20px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#quizHome .testStartContainer .btnsContainer button.selected {
  background: #fff9c8;
  border: 1px solid #ffd500;
}

#quizHome .testStartContainer a.startBtn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  text-align: center;
}

#quizHome .testStartContainer a.startBtn:hover {
  background: #ecf5ff;
}

#quizHome .testStartContainer a.startBtn.disable {
  pointer-events: none;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#quizHome .quizRecentlyCreatedContainer {
  margin-bottom: 70px;
}

#quizHome .quizRecentlyCreatedContainer h3 {
  font-size: 1.8rem;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Cormorant Garmand", serif;
}

#quizHome .newUsersContainer {
  margin-bottom: 70px;
}

#quizHome .newUsersContainer h3 {
  font-size: 1.8rem;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Cormorant Garmand", serif;
}

#quizHome .newUsersContainer div.eachNewUserContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #ecf5ff;
}

#quizHome .newUsersContainer div.eachNewUserContainer:first-child {
  padding-top: 0;
}

#quizHome .newUsersContainer div.eachNewUserContainer a {
  height: 25px;
}

#quizHome .newUsersContainer div.eachNewUserContainer a img {
  width: 25px;
  border-radius: 50%;
}

#quizHome .newUsersContainer div.eachNewUserContainer p.newUserUsername {
  font-size: 1.2rem;
}

.quizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quizContainer .quiz {
  margin-bottom: 50px;
}

.quizContainer .quiz .quizHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.quizContainer .quiz .quizHeader span.quizNumber,
.quizContainer .quiz .quizHeader span.createdBy {
  font-size: 0.8rem;
}

.quizContainer .quiz .quizQuestionContainer p.quizQuestionText {
  font-size: 1.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quizContainer .quiz ul.quizAnswersContainer {
  padding: 0;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li {
  pointer-events: none;
  opacity: 0.3;
}

.quizContainer .quiz ul.quizAnswersContainer.answerDefined li.incorrectAnswerClicked {
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li {
  list-style: none;
  margin: 20px 0;
  padding: 20px;
  background: #fff9c8;
  font-size: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked {
  outline: 3px solid #005bbb;
  background-color: #ecf5ff;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.correctAnswerClicked span {
  font-weight: bold;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked {
  outline: 3px solid #ffd500;
  background-color: #fff9c8;
  opacity: 1;
}

.quizContainer .quiz ul.quizAnswersContainer li.selected.incorrectAnswerClicked div {
  -webkit-transform: rotate(225deg) translate(-15px, 10px);
          transform: rotate(225deg) translate(-15px, 10px);
  font-size: 2rem;
  height: 20px;
}

.quizContainer .quiz ul.quizAnswersContainer li:hover {
  background: #ffe164;
}

.quizContainer .quiz ul.quizAnswersContainer li.correctAnswerClicked {
  pointer-events: none;
  background: #ecf5ff;
}

.quizContainer .quiz ul.quizAnswersContainer li.correctAnswerClicked div.correctIncorrectIcons .correctIcon {
  margin-left: 20px;
  font-size: 1.8rem;
  display: block;
  color: #005bbb;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked {
  pointer-events: none;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked div.correctIncorrectIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizContainer .quiz ul.quizAnswersContainer li.incorrectAnswerClicked div.correctIncorrectIcons .incorrectIcon {
  margin-left: 20px;
  font-size: 2.5rem;
  display: block;
  opacity: 1;
  color: red;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .correctIcon {
  display: none;
}

.quizContainer .quiz ul.quizAnswersContainer li div.correctIncorrectIcons .incorrectIcon {
  display: none;
}

.quizContainer .quiz .quizFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

.quizContainer .quiz .quizFooter .likesCounterContainer {
  padding: 10px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: red;
  position: relative;
}

.quizContainer .quiz .quizFooter .likesCounterContainer.checked {
  background: #fff0f0;
}

.quizContainer .quiz .quizFooter .likesCounterContainer span.heartIcon {
  height: 15px;
  margin-right: 15px;
}

.quizContainer .quiz .quizFooter button.testStopBtn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizContainer .quiz .quizFooter button.testStopBtn:hover {
  background: #ffe164;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn:hover {
  background: #ecf5ff;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn.disable {
  pointer-events: none;
  opacity: 0.5;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowRight {
  height: 20px;
  margin-left: 10px;
}

.quizContainer .quiz .quizFooter button.goNextPrevQuizBtn .bsArrowLeft {
  height: 20px;
  margin-right: 10px;
}

.allQuizzes {
  font-size: 1.2rem;
}

.allQuizzes .searchContainer {
  margin-bottom: 20px;
}

.allQuizzes .searchContainer .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.allQuizzes .searchContainer .inputs select {
  height: 45px;
  width: 160px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  font-size: 1rem;
  padding: 10px 15px;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.allQuizzes .searchContainer .inputs select:focus {
  outline: none;
}

.allQuizzes .searchContainer .inputs select.notDefaultValue {
  background: #ecf5ff;
}

.allQuizzes .searchContainer .inputs .searchByTag {
  position: relative;
}

.allQuizzes .searchContainer .inputs .searchByTag input.searchTagInput {
  font-size: 1rem;
  height: 45px;
  width: 160px;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  padding: 10px 45px 10px 15px;
  margin-top: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.allQuizzes .searchContainer .inputs .searchByTag input.searchTagInput:focus {
  outline: none;
}

.allQuizzes .searchContainer .inputs .searchByTag input.searchTagInput.searchByTagSubmitted {
  background: #ecf5ff;
}

.allQuizzes .searchContainer .inputs .searchByTag i {
  height: 43px;
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 10px;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  font-size: 1.2rem;
  z-index: 1;
  cursor: pointer;
}

.allQuizzes .searchContainer .inputs .searchByTag i.noInputYet {
  pointer-events: none;
  opacity: .3;
  background: #f0f0f0;
}

.quizResultWindow {
  font-size: 1.2rem;
}

.quizResultWindow .quizResultText {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.quizResultWindow .quizResultText h3 {
  font-size: 1.8rem;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Cormorant Garmand", serif;
}

.quizResultWindow .quizResultText p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=quiz.css.map */