@charset 'utf-8';
@import "./Variables.scss";
// To fold everything: cmd+k -> cmd+0
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontText;
  font-weight: 300;
}

a {
  color: #333;
  text-decoration: none;
  font-family: $fontAccent;
}

#main {
  /* background-color: #eee; */
  padding: 30px 30px 200px;
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  font-size: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
