@charset 'utf-8';
@import "./Variables.scss";
// To fold everything: cmd+k -> cmd+0
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontText;
  font-weight: 300;
}

a {
  color: #333;
  text-decoration: none;
  font-family: $fontAccent;
}
main {
  position: relative;
  min-height: 100vh;
  #bodyContainer {
    /* background-color: #eee; */
    padding: 50px 50px 200px;
    max-width: 700px;
    width: 100%;
    font-size: 2rem;
    margin: 0 auto;
  }
  footer {
    font-size: $fzSSSmall;
    background: $colorAccent1Lighter;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

