@charset 'utf-8';
@import "./Variables.scss";
// To fold everything: cmd+k -> cmd+0
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

#appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
  // #appNav{
    
  // }
}

#main {
  /* background-color: #eee; */
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  font-size: 2rem;
}

.quizHomeNav {
  margin: 30px 0 50px;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  .quiz {
    margin-bottom: 50px;
    .quizHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      span.quizNumber, span.createdBy {
        font-size: $fzSmall;
        color: $colorQuizHeader;
      }
    }
    .quizQuestionContainer {
      p.quizQuestionText {
        font-size: $fzMMedium;
      }
    }
    ul.answersContainer {
      padding: 0;
      li {
        list-style: none;
        margin: 20px 0;
        padding: 20px;
        background: $colorQuizAnswerBg;
        font-size: $fzMedium;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        &:hover {
          background: $colorQuizAnswerBgHover;
        }
        &.correctAnswerClicked {
          pointer-events: none;
          background: $colorQuizClickedCorrectAnswerBg;
          div.correctIncorrectIcons {
            .correctIcon {
              margin-left: 20px;
              font-size: $fzMedium;
              display: block;
            }
          }
        }
        &.incorrectAnswerClicked {
          pointer-events: none;
          opacity: 0.5;
          div.correctIncorrectIcons {
            display: flex;
            align-items: center;
            .incorrectIcon {
              margin-left: 20px;
              font-size: $fzMedium;
              display: block;
            } 
          }
        }
        // default no icons
        div.correctIncorrectIcons {
          .correctIcon{
            display: none;
          }
          .incorrectIcon {
            display: none;
          }
        }
      }
    }
    .quizFooter {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 30px;
      .likesCounterContainer {
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        color: red;
        position: relative;
        &.checked {
          background: $colorGoodBtnHover;
        }
        span.heartIcon {
          height: 15px;
          margin-right: 15px;
        }
      }
      button.goNextPrevQuizBtn {
        padding: 10px 18px;
        border-radius: 5px;
        border: none;
        background: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: $fzSSmall;
        &:hover {
          background: $colorGoNextQuizBtnHover;
        }
        .bsArrowRight {
          height: 20px;
          margin-left: 10px;
        }
        .bsArrowLeft {
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

.allQuizzes {
  font-size: $fzSmall;
  .eachQuizContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid $colorAccent1Lighter;
    &:first-child {
      margin-top: 0;
    }
    .quizQuestionContainer {
      display: flex;
      align-items: center;
      .quizIndex {
        margin-right: 15px;
      }
      .quizQuestion {
        margin: 0 15px;
      }
    }
    div.icons {
      display: flex;
      align-items: center;
      gap: 10px;
      .riEditBoxLine, .riDeleteBinLine {
        cursor: pointer;
        color: $colorAccent1;
        height: 20px;
        &:hover { 
          opacity: .7;
          transition: .3s;
        }
      }
      .riDeleteBinLine {
        color: $colorGoodBtn;
      }
      // .riDeleteBinLine {

      // }
    }
  }
}