
// ========== Colors ==========
$color-text: #333;
$color-text-accent: blue;
$color-text-disabled: #2d0a0a;
$color-background: #fff;
$colorGoodBtn: red;
$colorGoodBtnHover: rgb(255, 240, 240);
$colorQuizAnswerBg: rgb(240, 240, 240);
$colorQuizAnswerBgHover: rgb(230, 230, 230);
$colorQuizClickedCorrectAnswerBg: rgb(255, 240, 240);
$colorQuizClickedIncorrectAnswerBg: rgb(240, 240, 255);
$colorGoNextQuizBtnHover: rgb(245, 245, 245);

// ========== Font Sizes ==========
$fzSSSmall: 0.8rem;
$fzSSmall: 1rem;
$fzSmall: 1.2rem;
$fzMedium: 1.5rem;
$fzMMedium: 1.8rem;
$fzMMMedium: 2rem;
$fzLarge: 2.5rem;
$fzLLarge: 2.8rem;
$fzLLLarge: 3rem;