// ========== Colors ==========
$color-text: #333;
$colorAccent1: #005bbb;
$colorAccent1Light: #59a9ff;
$colorAccent1Lighter: #e8f3ff;
$colorAccent1Lighter: #b7daff;
$colorAccent2: #ffd500;
$colorAccent2Light: rgb(255, 225, 74);
$colorAccent2Lighter: rgb(255, 241, 174);
$color-text-disabled: #2d0a0a;
$color-background: #fff;
$colorGoodBtn: red;
$colorGoodBtnHover: rgb(255, 240, 240);
$colorQuizHeader: grey;
$colorQuizAnswerBg: rgb(240, 240, 240);
$colorQuizAnswerBgHover: rgb(230, 230, 230);
$colorQuizClickedCorrectAnswerBg: rgb(255, 240, 240);
$colorQuizClickedIncorrectAnswerBg: rgb(240, 240, 255);
$colorGoNextQuizBtnHover: rgb(245, 245, 245);
$colorQuizFormSubmitBtn: rgb(240, 240, 255);
$colorQuizFormSubmitBtnHover: rgb(245, 245, 245);

// ========== Font Sizes ==========
$fzSSSmall: 0.8rem;
$fzSSmall: 1rem;
$fzSmall: 1.2rem;
$fzMedium: 1.5rem;
$fzMMedium: 1.8rem;
$fzMMMedium: 2rem;
$fzLarge: 2.5rem;
$fzLLarge: 2.8rem;
$fzLLLarge: 3rem;
