@charset 'utf-8';

*, *::after, *::before{
  box-sizing: border-box;
}

a{
  color: #333;
  text-decoration: none;
}

#root{
  /* background-color: #eee; */
  padding: 50px;
  max-width: 600px;
  width: 100%;
  margin: 100px auto;
  font-size: 2rem;
}
.App .createQuestion {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  background: white;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
}
.App .queryDelete {
  /* width: 100px; */
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  background: rgb(255, 80, 80);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.App ul {
  padding: 0;
}
.App ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 30px;
  gap: 30px;
}

.App ul li button {
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
  cursor: pointer;
  background: #333;
  color: white;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
}