@charset 'utf-8';

*, *::after, *::before{
  box-sizing: border-box;
}

a{
  color: #333;
  text-decoration: none;
}

main{
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}