

.snackbar {
  // position: fixed;
  // left: 50%;
  // top: 5%;
  // transform: translate(-50%, -50%);
  width: 250px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  margin: 0 auto 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $fzS;
  border: 1px solid $colorGreenLight;
  background: $colorGreenLighter;
  color: $colorGreen;
  font-size: $fzSS;
  div.icon {
    height: 20px;
    width: 20px;
    font-size: $fzS;
  }
  div.msg {
    font-weight: bold;
  }
  &#show {
    visibility: visible;
    animation: fzdeIn 0.5s, fzdeOut 0.5s 2.5s;
    display: flex;
  }
  &#hide {
    visibility: hidden;
    display: none;
  }
}

@keyframes fzdeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fzdeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}
